#importantInfo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#gameBoard{
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  justify-content: center;
  padding: 50px 0;
}

#green{
	background-color: #66DC6D;
}

#red{ 
	background-color: #ED3833;
}

#yellow{
	background-color: #FEF250;
}

#blue{
	background-color: #3093EA;
}
.colorButton{
	padding: 50px 50px;
}